body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #555;
  line-height: 1.5;
  padding: 4em 1em;
}
h1 {
  color: #333;
  margin-top: 1em;
  padding-top: 1em;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  background: #eee;
}
